@import "mixins";

@media only screen and (max-width: em(1600)) {
  #main__line--7 {
    display: none;
  }
}

@media only screen and (min-width: em(1600)) {
  #main__line--7 {
    display: flex;
  }
}

@media only screen and (max-width: em(1150)) {
  #main__line--6 {
    display: none;
  }
}

@media only screen and (min-width: em(1150)) {
  #main__line--6 {
    display: flex;
  }
}

@media only screen and (max-width: em(950)) {
  #main__line--5 {
    display: none;
  }
}

@media only screen and (min-width: em(950)) {
  #main__line--5 {
    display: flex;
  }
}

@media only screen and (max-width: em(750)) {
  #main__line--4 {
    display: none;
  }
}

@media only screen and (min-width: em(750)) {
  #main__line--4 {
    display: flex;
  }
}

@media only screen and (max-width: em(600)) {
  #main__line--3 {
    display: none;
  }
}

@media only screen and (min-width: em(600)) {
  #main__line--3 {
    display: flex;
  }
}

@media only screen and (min-width: em(445)) {
  //#main__line--2 {
  //  display: flex;
  //}
  .main__item {
    max-width: rem(240) !important;
  }

  .pop-up-block {
    img {
      max-width: rem(1000) !important;
      max-height: rem(1000) !important;
    }
  }
}

@media (max-width: em(300)) {
  #main__line--2 {
    display: none;
  }
}

@media (min-width: em(300)) {
  #main__line--2 {
    display: flex;
  }
}

@media only screen and (max-width: em(445)) {
  //#main__line--2 {
  //  display: none;
  //}

  .main__item {
    max-width: rem(450) !important;
  }

  .main__stats {
    img {
      width: rem(40) !important;
      height: rem(40) !important;
    }
  }

  .header__content {
    img {
      display: none;
    }
  }

  .pop-up-block {
    img {
      max-width: rem(300) !important;
      max-height: rem(300) !important;
    }
  }
}

@media (max-width: em(709)) {
  .account__info-top {
    justify-content: center;
    margin-top: rem(20);
  }

  .account__info {
    max-width: rem(300) !important;

    &-middle-item {
      flex-direction: column;
      align-items: center;
    }
  }

  .account__header {
    flex-direction: column !important;

    img {
      margin: 0;
    }
  }
}

@media (max-width: em(350)) {
  .header__content-search {
    input {
      padding: 0 rem(2) !important;
    }
  }
}

@media (min-width: em(2561)) {
  .pop-up-block {
    img {
      max-width: rem(2000) !important;
      max-height: rem(2000) !important;
    }
  }
}


