@media only screen and (max-width: 1600px) {
  #main__line-7 {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  #main__line-7 {
    display: flex;
  }
}

@media only screen and (max-width: 1150px) {
  #main__line-6 {
    display: none;
  }
}

@media only screen and (min-width: 1150px) {
  #main__line-6 {
    display: flex;
  }
}

@media only screen and (max-width: 950px) {
  #main__line-5 {
    display: none;
  }
}

@media only screen and (min-width: 950px) {
  #main__line-5 {
    display: flex;
  }
}

@media only screen and (max-width: 750px) {
  #main__line-4 {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #main__line-4 {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  #main__line-3 {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #main__line-3 {
    display: flex;
  }
}

@media only screen and (min-width: 445px) {
  #main__line-2 {
    display: flex;
  }
  .main__item {
    max-width: 240px !important;
  }
}

@media only screen and (max-width: 445px) {
  #main__line-2 {
    display: none;
  }

  .main__item {
    max-width: 450px !important;
  }

  .main__stats {
    img {
      width: 40px !important;
      height: 40px !important;
    }
  }

  .header__content {
    img {
      display: none;
    }
  }
}

@media (max-width: 709px) {
  .account__info-top {
    justify-content: center;
    margin-top: 20px;
  }

  .account__info {
    max-width: 300px !important;

    &-middle-item {
      flex-direction: column;
      align-items: center;
    }
  }

  .account__header {
    flex-direction: column !important;

    img {
      margin: 0;
    }
  }
}

@media (max-width: 350px) {
  .header__content-search {
    input {
      padding: 0 2px !important;
    }
  }
}


